<div class="margin-top-10">
    <p-calendar [(ngModel)]="date" (onSelect)="onSelectDate($event)" dateFormat="dd-MM-yy"></p-calendar>
</div>
<div class="margin-top-10">
    <div *ngFor="let game of games">
        <div class="margin-top-20">
            <b>{{getTeamName(game.homeResult.teamId)}} - {{getTeamName(game.awayResult.teamId)}}</b>
        </div>
        <div class="margin-top-10">
            Average 5 games: {{game.computedHomeResult.avg5Games | number : '1.0-2'}} -
            {{game.computedAwayResult.avg5Games | number : '1.0-2'}}
        </div>
        <div>
            Average 10 games:
            {{game.computedHomeResult.avg10Games | number : '1.0-2'}}
            -
            {{game.computedAwayResult.avg10Games | number : '1.0-2'}}
        </div>
        <div>
            Average H/A games:
            {{game.computedHomeResult.avgHomeAwayGames | number : '1.0-2'}} -
            {{game.computedAwayResult.avgHomeAwayGames | number : '1.0-2'}}
        </div>
        <div>
            Average All games:
            {{game.computedHomeResult.avgAllGames | number : '1.0-2'}} -
            {{game.computedAwayResult.avgAllGames | number : '1.0-2'}}
        </div>
        <div class="margin-top-10">
            Total 5 games:
            {{game.computedTotals.total5Games | number : '1.0-2'}}
        </div>
        <div>
            Total 10 games:
            {{game.computedTotals.total10Games | number : '1.0-2'}}
        </div>
        <div>
            Total H/A games:
            {{game.computedTotals.totalHomeAwayGames | number : '1.0-2'}}
        </div>
        <div>
            Total All games:
            {{game.computedTotals.totalAllGames  | number : '1.0-2'}}
        </div>
        <div class="margin-top-10">
            Power ratings 5 games:
            {{game.homeResult.powerRating5Games | number : '1.0-2'}} /
            {{game.awayResult.powerRating5Games | number : '1.0-2'}}
        </div>
        <div>
            Power ratings 10 games:
            {{game.homeResult.powerRating10Games | number : '1.0-2'}} /
            {{game.awayResult.powerRating10Games | number : '1.0-2'}}
        </div>
        <div>
            Power ratings:
            {{game.homeResult.powerRatings | number : '1.0-2'}} / {{game.awayResult.powerRatings | number : '1.0-2'}}
        </div>
        <br>
    </div>
</div>