<div class="margin-top-10">
    <p-calendar [(ngModel)]="date" (onSelect)="onSelectDate($event)" dateFormat="dd-MM-yy"></p-calendar>
</div>
<div class="margin-top-10">
    <div *ngFor="let game of games">
        <div class="margin-top-20">
            <b>{{getTeamName(game.homeResult.teamId)}} - {{getTeamName(game.awayResult.teamId)}}</b>
        </div>
        <div class="margin-top-10">
            Average 5 games: {{(game.homeResult.avg5Games + game.awayResult.avg5GamesAgainst) / 2 | number : '1.2-2'}} -
            {{(game.awayResult.avg5Games + game.homeResult.avg5GamesAgainst) / 2 | number : '1.2-2'}}
        </div>
        <div>
            Average 10 games:
            {{(game.homeResult.avg10Games + game.awayResult.avg10GamesAgainst) / 2 | number : '1.2-2'}}
            -
            {{(game.awayResult.avg10Games + game.homeResult.avg10GamesAgainst) / 2 | number : '1.2-2'}}
        </div>
        <div>
            Average Home/Away games:
            {{(game.homeResult.avgHomeAwayGames + game.awayResult.avgHomeAwayGamesAgainst) / 2 | number : '1.2-2'}} -
            {{(game.awayResult.avgHomeAwayGames + game.homeResult.avgHomeAwayGamesAgainst) / 2 | number : '1.2-2'}}
        </div>
        <div>
            Average All games:
            {{(game.homeResult.avgAllGames + game.awayResult.avgAllGamesAgainst) / 2 | number : '1.2-2'}} -
            {{(game.awayResult.avgAllGames + game.homeResult.avgAllGamesAgainst) / 2 | number : '1.2-2'}}
        </div>
        <div class="margin-top-10">
            Total 5 games:
            {{(game.homeResult.avg5Games + game.awayResult.avg5GamesAgainst) / 2 + (game.awayResult.avg5Games + game.homeResult.avg5GamesAgainst) / 2 | number : '1.2-2'}}
        </div>
        <div>
            Total 10 games:
            {{(game.homeResult.avg10Games + game.awayResult.avg10GamesAgainst) / 2 + (game.awayResult.avg10Games + game.homeResult.avg10GamesAgainst) / 2 | number : '1.2-2'}}
        </div>
        <div>
            Total Home/Away games:
            {{(game.homeResult.avgHomeAwayGames + game.awayResult.avgHomeAwayGamesAgainst) / 2 + (game.awayResult.avgHomeAwayGames + game.homeResult.avgHomeAwayGamesAgainst) / 2 | number : '1.2-2'}}
        </div>
        <div>
            Total All games:
            {{(game.homeResult.avgAllGames + game.awayResult.avgAllGamesAgainst) / 2 + (game.awayResult.avgAllGames + game.homeResult.avgAllGamesAgainst) / 2  | number : '1.2-2'}}
        </div>
        <div class="margin-top-10">
            Power ratings 5 games:
            {{game.homeResult.powerRating5Games | number : '1.2-2'}}/{{game.awayResult.powerRating5Games | number : '1.2-2'}}
        </div>
        <div>
            Power ratings 10 games:
            {{game.homeResult.powerRating10Games | number : '1.2-2'}}/{{game.awayResult.powerRating10Games | number : '1.2-2'}}
        </div>
        <div>
            Power ratings:
            {{game.homeResult.powerRatings | number : '1.2-2'}}/{{game.awayResult.powerRatings | number : '1.2-2'}}
        </div>
        <br>
    </div>
</div>